input{
    margin-top: 20px;    
}

.container{
    margin-top: 8%;    
}

#result {
    margin-top: 30px;
} 

body{
    color:darkblue;
}

div.billetes{    
    width: 100%;
    height: 40%;
    border-top: solid 0.2px grey;
    padding-top: 10px;
}

.container-billetes{
    margin-top: 20px;
}

img{
    width: 60%;
}
